LLM_API_KEY= Add your API key here
LLM_BASE_URL= Add your base URL here
LLM_MODEL= Add your model here
DATA_DIR= Add your data directory here
CHROMA_DB_DIR= Add your Chroma DB directory here
PDF_DIR= Add your PDF directory here